# Ignore everything
*

# Allow directories to be traversed (but not their content)
!*/

# Include .cpp files in all directories
!*.cpp

# Optionally, don't ignore the .gitignore file itself
!.gitignore
